
*.log
*.idea
*.old

.csv
.db_tables.py

.env

.db
.bak
.dir
.dat

# userfiles
examples_alch/
migrations_sync/
db_depends_sync.py
*_sync.py
*depreciated.py
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.bak
Dockerfile_examplec

.mypy_cache/
__pycache__/
.vscode/
.venv/
venv2/
.venv2/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json
